.banner {
  margin-top: $header-navbar-padding-y * 2 + 1rem;
}

.banner-carousel-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner1.jpg) no-repeat;
  background-size: cover;
  min-height: 650px;
}

.banner-carousel-title {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: $white;
}

@include media-breakpoint-down(sm) {
  .banner-carousel-content {
    min-height: 576px;
  }

  .banner-carousel-title {
    font-size: 3rem;
  }
}

@include media-breakpoint-down(xs) {
  .banner-carousel-content {
    min-height: 350px;
  }

  .banner-carousel-title {
    font-size: 2rem;
  }
}
